.sidebar {
    background-color: $color-primary;
    grid-row: 1/ -1;
    grid-column: sidebar-start / sidebar-end;

    display: flex;
    justify-content: center;
}

.nav-btn {
    border: none;
    border-radius: 0;
    background-color: #fff;
    width: 4rem;
    height: 3px;

    margin-top: 4rem;

    &::before,
    &::after {
        content: "";
        display: block;
        background-color: #fff;
        width: 4rem;
        height: 3px;
    }

    &::before { transform: translateY(-1.2rem); }
    &::after { transform: translateY(.9rem); }
}